/* SCORETREK CSS */

* {
	margin:0;
	padding:0;
}

body video{
	position:fixed;
}

.background-video {
	min-width:100%;
	min-height:100%;
	position:fixed;
	z-index:-1;
	overflow:hidden;
	top:0;
	left:0;
}

h1 {
	color:black;
	text-shadow:-1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	font-size:100px;
	text-align:center;
	padding-top:100px;
}

form {
	
}
.searchbar {
	height:120px;
	align-items:center;
	color:white;
	z-index:1;
}

.submitbutton {
	color:lightgray;
}

#movies-view {
	color:white;
}

img {
	float:left;
	padding-right:15px;
}

#spotify {
	text-align:center;
}
.spotifyButton {
	clear:both;
	height:80px;
}

@media (max-width:724px) {
	h1 {
		font-size:40px;
		margin-right:0px;
		margin-left:0px;
	}
}